<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

	<p id='server-time'></p>
	<div>
		<label>User Location</label>
		<div id="user-location-div">
			<div id="startLat"></div>
			<div id="startLon"></div>
		</div>
	</div>
	<div id="googleMap" style="width:1200px;height:600px;"></div>
	<script>

		/***** Socket IO Methods *****/

		//var socket = io("http://127.0.0.1:5000/");
		//var socket = io("http://127.0.0.1:5000/", { 'path': '/nodejs/socket.io'});
		var socket = io();

		/* Monitor User Location */
		getUserLocation();

		/* Method that returns location co-ordinates of the user */
		function getUserLocation() {
			options = {
				enableHighAccuracy: true,
				timeout: 5000,
				maximumAge: 0
			};

			// Reference: https://developer.mozilla.org/en-US/docs/Web/API/Geolocation/watchPosition
			id = navigator.geolocation.watchPosition(sendBusLocation, error, options);
		}

		function error(err) {
			console.warn('ERROR(' + err.code + '): ' + err.message);
		}


		/* Method that sends the bus current location to server */
		function sendBusLocation(pos) {
			var busLocation = new google.maps.LatLng(pos.coords.latitude, pos.coords.longitude);
			socket.emit('buslocation', busLocation);
		}
	</script>

</body>
</html>
